.login-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  height: 700px;
  /* padding: 20px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  align-items: center;
 
}

.login-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  /* display: block; */
  margin-bottom: 5px;
}

.form-group input[type="email"],
.form-group input[type="userName"],
.form-group input[type="password"] {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-content: center;
}

.login {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login:hover {
  background-color: #0056b3;
}

