.nav-container{
  /* width: 161%; */
  background-color: rgb(56, 217, 150);
  bottom: 0;
  left: 0; 
  position: static;
  text-align: center;
  padding: 20px 0; 
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  margin-right: 120px; /* Adjust this value for desired spacing */
  cursor: pointer;
  font-size: 18px;
  color: #ffecd1;
}
nav ul li a {
  color: black /* Set the color of the icon to white */
}

nav ul li a:hover {
  color: #78290f;
}
nav ul li.active {
  font-weight: bold;
}