
  .signin-container {
    height: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0d6e6;
    align-items: center;
  }
  .title-signup {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
   
  }
  
  
  
  
  
  
  
  