/* Global styles */
.nav-container {
  position: static;
  bottom: 0;
  right: 0px;
  background-color: rgb(48, 39, 217);
  color: black;
 
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

.container {
 
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  justify-content: center;
 
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: red;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Dashboard Page */
.dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: inherit;
}

.dashboard-page img {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 10px;
}

.dashboard-page p {
  margin: 5px 0;
}

#dashboard-page {
  
  align-items: center;
  align-items: center
}
.home {
  max-width: 400px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(152, 8, 8, 0.1);
  overflow: hidden;
  display: flex row;
  flex-direction: row;
  justify-content: center;
}

.home img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.home-details {
  padding: 20px;
  text-align: center;
  width: 100%;
 
}

.home-details p {
  margin: 5px 0;
}

.home-details .guest {
  font-weight: bold;
}

.home-details .rating {
  color: #ff9800;
}

/* Link styles */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.guest {
  color: black;
}

.container {
  max-width: fit-content;
}

.catch-phrase {
  text-align: start;
  width: 60%;
  padding: 10px;
  margin-left: 20px;
  margin-top: 40px;
  font-size: 2em;
}

/* Filter section */
.filter-section {
  margin-top: 20px;
 margin-left: 300px;
}

/* .filter-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
} */

.filter-section select,
.filter-section input[type="text"] {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-section select {
  width: 150px;
}

.filter-section input[type="text"] {
  width: 200px;
}

.filter-section select:focus,
.filter-section input[type="text"]:focus {
  outline: none;
  border-color: #2b7775;
}
.no-room {
  color: black;
  margin-left: 60px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .box {
    justify-content: center;
  }
}
